<h1>Pages#info 1</h1>
<h2>Pages#info 2</h2>
<h3>Pages#info 3</h3>
<p>This is the paragraph. Find me in app/views/pages/info.html.erb</p>
<div class="dropdown">
  <a data-toggle="dropdown" href="#">Adding new dropdown here</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  	<li class="active"><a href="/ideas">Ideas</a></li>
  	<li class="active"><a href="/ideas">Dropdown 2</a></li>
  	<li class="active"><a href="/ideas">Dropdown 3</a></li>
  </ul>
</div>

